/* Fontes que serão usadas */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;1,9..40,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;1,9..40,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
/*Backgroundo 1*/
.bg{
  z-index: 70;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.44);
}
.bg1{
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.44);
}
/*Menu com os links*/
.Menu{
  z-index: 90;
  position: absolute;
  top: 0;
  display: none;
  flex-direction: column;
  color: white;
  list-style: none;
}
.SolarPower2{display: none;}
.cabecalho{
  z-index: 90;
  position: absolute;
  display: flex;
  width: 100%;
  height: 10%;
  background-color: rgba(0,0,0,.73);
  align-items: center;
  justify-content: space-evenly;
  .SolarPower{
    color: white;
    text-decoration: none;
    font-size: 2.5em;
    font-family: "DM Sans", sans-serif;
  }
  .SolarPower:hover{color:#6c926c;}
  .Link{
    display: flex;
    display: flex;
    gap: 110px;
    list-style: none; 
    padding: 0 110px;
    .link{
      display: flex;
      color: white;
      text-decoration: none;
      font-size: 1.5em;
      font-family: "DM Sans", sans-serif;
    }
    .link:hover{color:#6c926c;}
    .linkP{
      display: flex;
      color: white;
      text-decoration: none;
      font-size: 1.5em;
      font-family: "DM Sans", sans-serif;
    }
    .linkP:hover{color:#6c926c;}
    .linkP:hover .Menu2{display:block;}
  }
  .github{
    display: flex;
    width:62px; 
    height:62px;
    border-radius: 50%;
  }
}
/*Apresentacao do site(primeira parte da pagina principal)*/
.pt1{
  z-index: 90;
  display: flex;
  position: absolute;
  top: 38%;
  left: 0%;
  width: 100%;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  .titulo1{
    width: 80%;
    text-align: center;
    font-family: "Lexend", sans-serif;
    font-size: 80px;
    color: white;
  }
}
/*Box dos Depoimentos*/
.boxD{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 120%;
    align-items: center;
    justify-content: center;
    grid-row-gap:5em;
    .dep{
        display: flex;
        width: 80%;
        flex-direction: column;
        grid-row-gap:2em;
        .tituloD{
            font-size: 1.8em;
            font-weight: 300;
            font-family: 'DM Sans',sans-serif;
        }
        .textoD{
            font-size: 1.4em;
            font-family: 'DM Sans',sans-serif;
        }
        .persona{
            font-size: 1.4em;
            font-family: 'DM Sans',sans-serif;
            text-align: end;
        }
    }
}
.degrade{
    z-index: 100;
    position: absolute;
    display: flex;
    top: 411%;
    height: 20%;
    width: 100%;
    background: linear-gradient(to bottom, transparent, #64cfd6);;
  }
  /*Box de informações de agendamento*/
  .box3{
    z-index: 110;
    position: absolute;
    display: flex;
    top:430%;
    width: 100%;
    height: 90%;
    background: linear-gradient(to bottom,#64cfd6, transparent);
    .titulo5{
      display: flex;
      position: relative;
      top: 17%;
      font-family: "DM Mono", sans-serif;
      font-size: 3em;
      width: 100%;
      justify-content: center;
      height: 20%;
    }
    .agenda{
      display: flex;
      position: absolute;
      top: 40%;
      height: 40%;
      width: 100%;
      justify-content: space-evenly;
      text-align: center;
      .agenda1{
        display: flex;
        position: relative;
        max-width: 25%;
        flex-direction: column;
        align-items: center;
        grid-row-gap: 3em;
        .tituloA{
          font-family: "DM Sans",sans-serif;
          font-size: 2em;
        }
        .textoA{
          font-family: "DM Sans",sans-serif;
          font-size: 1.5em;
          text-align: center;
          max-width: 80%;
        }
      }
    }
    .bt3{
      display: flex;
      position: absolute;
      width: 100%;
      height: 10%;
      text-align: center;
      justify-content: center;
      top: 80%;
      .bt4{
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        transition: background-color 0.4s ease, opacity 0.5s ease;
        padding: 5px 20px;
        width: 20%;
        height: 50%;
        color: black;
        text-decoration: none;
        font-size: 1.5em;
        font-family: "DM Sans", sans-serif;
        font-weight: 300;
        top: 30%;
      }
      .bt4:hover{background-color:#6c926c;border: none;}
    }
  }
  /*Rodapé*/
  .Rodape{
    background-color: #7F8C8D;
    display: flex;
    position: absolute;
    top: 530%;
    width: 100%;
    height: 70%;
    justify-content: space-evenly;
    .titulo6{
      display: flex;
      align-items: center;
      font-size: 3em;
      font-family: "DM Sans" sans-serif;
      color: white;
    }
    .LinkR{
      display: flex;
      height: 100%;
      flex-direction: column;
      text-align: center;
      grid-row-gap:2em;
      font-family: "DM Sans" sans-serif;
      font-weight: 200;
      .tituloR{
        font-size: 2em;
        padding: 40px;
        color: white;
      }
      .linkR{
        color: white;
        text-decoration: none;
        font-size: 1.5em;
      }
      .linkR:hover{color:#364736}
    }
  
  }
  @media (min-width: 1280px) and (max-width: 1920px){
    .cabecalho{
      .Link{
        padding: 0 50px;
      }
      .github{
        width: 42px;
        height: 42px;
      }
    }
  }  
@media(min-width: 830px) and (max-width: 1024px){
    /*Menu com os links*/
    .cabecalho{
      height: 12%;
      .SolarPower{font-size: 2em;}
      .Link{
        padding: 0 20px;
        gap: 40px;
        .link{font-size: 1.2em;}
        .linkP{font-size: 1.2em;}
      }
      .github{width: 42px;height: 42px;}
    }
    /*Apresentacao do site(primeira parte da pagina principal)*/
    .pt1{
      .titulo1{font-size: 60px;}
    }
    .degrade{top:401%;}
  /*Box de informações de agendamento*/
  .box3{
    top: 420%;
    .agenda{
      .agenda1{
        grid-row-gap: 2em;
        .tituloA{font-size: 1.8em;}
        .textoA{font-size: 1.2em;}
      }
    }
    .bt3{
      .bt4{
      font-size: 1.2em;
      width: 25%;
      }
    }
  }
  /*Rodapé*/
  .Rodape{
    top:510%;
    height: 50%;
    .titulo6{font-size: 2em;}
    .LinkR{
      grid-row-gap: 1.5em;
      .tituloR{
        font-size: 1.5em;
        padding: 30px;
      }
      .linkR{font-size: 1.2em;}
    }
  }
}
@media(min-width: 760px) and (max-width: 830px){
    /*Menu com os links*/
    .cabecalho{
      height: 12%;
      .SolarPower{font-size: 2em;}
      .Link{
        padding: 0 20px;
        gap: 30px;
        .link{font-size: 1em;}
        .linkP{font-size: 1em;}
      }
      .github{width: 42px;height: 42px;}
    }
    /*Apresentacao do site(primeira parte da pagina principal)*/
    .pt1{
      top: 42%;
      .titulo1{font-size: 50px;}
      .texto1{font-size: 1.2em;}
      .bt1{width: 40%;}
    }
    .degrade{top:570%;}
  /*Box de informações de agendamento*/
  .box3{
    top: 590%;
    .agenda{
      .agenda1{
        grid-row-gap: 2em;
        .tituloA{font-size: 1.8em;}
        .textoA{font-size: 1.2em;}
      }
    }
    .bt3{
      .bt4{
      font-size: 1.2em;
      width: 32%;
      }
    }
  }
  /*Rodapé*/
  .Rodape{
    top: 690%;
    height: 60%;
    .titulo6{font-size: 1.5em;}
    .LinkR{
      grid-row-gap: 1.5em;
      .tituloR{
        font-size: 1.2em;
        padding: 30px;
      }
      .linkR{font-size: 1em;}
    }
  }
}
@media(min-width: 320px) and (max-width: 480px){
    /*Menu com os links*/
    .bg{top:0;}
    .bg1{top:0;}
    .Menu{z-index: 120;;display: flex;background-color: transparent;}
    .cabecalho{display: none;}
    .SolarPower2{
      position: absolute;
      top: 2px;
      background-color: transparent;
      z-index: 90;
      display: flex;
      color: white;
      width: 100%;
      justify-content: center;
      text-decoration: none;
      font-size: 2.5em;
      font-family: "DM Sans", sans-serif;
    }
    .MenuM{
      z-index: 100;
      display: none;
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: rgb(0, 0, 0);
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      grid-row-gap: 3em;
      .linkL{
        justify-content: center;
        width: 90%;
        display: flex;
        color: white;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.301);
        font-size: 2em;
        font-family: "DM Sans", sans-serif;
      }
      .linkL:hover{color:#6c926c;}
      .githubG{
        border-radius: 50%;
        display: flex;
        position: absolute;
        top: 5px;
        left: 5px;
        width:62px; 
        height:62px}
      .Fechar{
        position: absolute;
        color:white;
        font-size: 1.2em;
        top: 2%;
        right:4%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid white;
        background-color: transparent;
        cursor:pointer;
      }
    }
    /*Apresentacao do site(primeira parte da pagina principal)*/
    .pt1{
      top: 40%;
      .titulo1{font-size: 40px;}
      .texto1{font-size: 1.1em;}
      .bt1{
        font-size: 1.1em;
        width: 60%;
        left: 5%;
      }
    }
    .degrade{top:790%;}
  /*Box de informações de agendamento*/
  .box3{
    height: 160%;
    top: 810%;
    .titulo5{font-size: 2em;}
    .agenda{
      top: 35%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      .agenda1{
        max-width: 100%;
      }
    }
    .bt3{
      top: 130%;
      .bt4{
        width: 70%;
      }
    }
  }
  /*Rodapé*/
  .Rodape{
    top: 1050%;
    flex-direction: column;
    height: 200%;
    .titulo6{
      justify-content: center;
      padding: 50px;
    }
    .LinkR{
      grid-row-gap: 1em;
      height: 60%;
      .tituloR{padding: 20px;}
    }
  }
}
.MenuM.mostrar{display:flex}